<article id="coupon-list" class="list scrollable">
    <header data-title="Coupons" data-icon="back">
        <h1> <a href="#/">&laquo;</a> Coupons</h1>
    </header>
    <div id="list-wraper" class="scroller-wrapper">
        <div class="scroller">
            <ul>
                <li ng-repeat="coupon in coupons" ng-click="openCoupon()">
                    <div class="card clearfix">
                        <img ng-src="{{coupon.icon_src}}" alt="{{coupon.name}}">
                        <a href="#coupon/{{coupon.id}}">
                            {{coupon.name}}
                        </a>
                        /
                        <span class="categorie">{{coupon.categorie}}</span>
                        <br/>
                        <b>{{coupon.price}}</b>
                        <br/>
                        <span>{{coupon.expire_date}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</article>