<article id="home">
    <header>
        <h1>Wallet</h1>
    </header>
    <div id="wrapper" class="offers scroller-wraper">
        <div class="scroller">
            <ul class="clearfix">
                <li ng-repeat="offer in offers" ng-click="openOffer()" class="offer">
                    <img ng-src="{{offer.icon_src}}" alt="{{offer.name}}"/><br/>
                    <span>{{offer.name}}</span><br/>
                    <a href="#/coupon/{{offer.id}}">
                        <b>{{offer.price}}</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <a href="#coupons" class="show-all">See all &raquo;</a>
    <nav class="">
        <div class="info-wrapper">
            <div class="info clearfix">
                <a id="money" href="#">Money</a>
                <a id="transaction" href="#">Transactions</a>
                <a id="message" class="last">Messages</a>
            </div>

        </div>
        <div class="tools clearfix">
            <a id="paryment" href="#payment" class="payment">Payment</a>
            <a id="loyalty" href="#">Loyalty</a>
            <a id="coupon" href="#coupons" class="coupons last">Coupons</a>
        </div>
    </nav>
</article>